.rme-FloatingToolbar-Wrapper {
  will-change: opacity, transform;
  padding: 8px 16px;
  position: absolute;
  z-index: $rme-zIndex + 100;
  opacity: 0;
  background-color: $rme-toolbarBackground;
  border-radius: 4px;
  transform: scale(0.95);
  transition: opacity 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 150ms;
  line-height: 0;
  height: 40px;
  box-sizing: border-box;
  pointer-events: none;
  white-space: nowrap;

  // Omitting the pointer triangle for now because the position is coming from a prop
  // and it's difficult to pass this to a pseudo element
  // &::before {
  //   content: "";
  //   display: block;
  //   width: 24px;
  //   height: 24px;
  //   transform: translateX(-50%) rotate(45deg);
  //   background: $rme-toolbarBackground;
  //   border-radius: 3px;
  //   z-index: -1;
  //   position: absolute;
  //   bottom: -2px;
  //   left: calc(50% - ${(props) => props.offset || 0}px);
  // }

  * {
    box-sizing: border-box;
  }

  &.active {
    transform: translateY(-6px) scale(1);
    pointer-events: all;
    opacity: 1;
  }

  @media print {
    display: none;
  }

  @media (hover: none) and (pointer: coarse) {
    &:before {
      display: none;
    }

    transition: opacity 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1);
    border-radius: 0;
    width: 100vw;
    position: fixed;
  }
}
