@import "../rme-variables.scss";

.rme-CommandMenu-LinkInputWrapper {
  margin: 8px;
}

.rme-CommandMenu-LinkInput {
  height: 36px;
  width: 100%;
  color: $rme-blockToolbarText;
}

.rme-CommandMenu-List {
  list-style: none;
  text-align: left;
  height: 100%;
  padding: 8px 0;
  margin: 0;
}

.rme-CommandMenu-ListItem {
  padding: 0;
  margin: 0;
}

.rme-CommandMenu-Empty {
  display: flex;
  align-items: center;
  color: $rme-textSecondary;
  font-weight: 500;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
}

.rme-CommandMenu-Wrapper {
  color: $rme-text;
  position: absolute;
  z-index: $rme-zIndex + 100;
  background-color: $rme-blockToolbarBackground;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 2px 4px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 150ms;
  line-height: 0;
  box-sizing: border-box;
  pointer-events: none;
  white-space: nowrap;
  width: 300px;
  max-height: 224px;
  overflow: hidden;
  overflow-y: auto;

  * {
    box-sizing: border-box;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid $rme-blockToolbarDivider;
  }

  &.active {
    transform: translateY(-6px) scale(1);
    pointer-events: all;
    opacity: 1;

    &.isAbove {
      transform: translateY(6px) scale(1);
    }
  }

  @media print {
    display: none;
  }
}
