$font-family-sans: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

$font-family-mono: ui-monospace, Menlo, Consolas, Liberation Mono, monospace;
$color-n900: #091e42;
$color-n800: #172b4d;
$color-n700: #253858;
$color-n600: #344563;
$color-n500: #42526e;
$color-n400: #505f79;
$color-n300: #5e6c84;
$color-n200: #6b778c;
$color-n100: #7a869a;
$color-n90: #8993a4;
$color-n80: #97a0af;
$color-n70: #a5adba;
$color-n60: #b3bac5;
$color-n50: #c1c7d0;
$color-n40: #dfe1e6;
$color-n30: #ebecf0;
$color-n20: #f4f5f7;
$color-n10: hsl(220deg, 18%, 97%);
$color-n0: #fff;

// Primary
$color-p1000: hsl(179deg, 50%, 15%);
$color-p950: hsl(179deg, 50%, 19%);
$color-p900: hsl(179deg, 50%, 22%);
$color-p800: hsl(179deg, 50%, 28%);
$color-p700: hsl(179deg, 50%, 34%);
$color-p600: hsl(179deg, 50%, 42%);
$color-p500: hsl(179deg, 45%, 49%);
$color-p400: hsl(179deg, 40%, 62%);
$color-p300: hsl(179deg, 35%, 71%);
$color-p200: hsl(179deg, 30%, 81%);
$color-p100: hsl(179deg, 25%, 91%);
$color-p50: hsl(179deg, 20%, 95%);
$color-p0: #fff;

// Critical
$color-c1000: hsl(5deg, 50%, 15%);
$color-c900: hsl(5deg, 50%, 22%);
$color-c800: hsl(5deg, 50%, 28%);
$color-c700: hsl(5deg, 50%, 34%);
$color-c600: hsl(5deg, 50%, 42%);
$color-c500: hsl(5deg, 50%, 49%);
$color-c400: hsl(5deg, 50%, 62%);
$color-c300: hsl(5deg, 50%, 71%);
$color-c200: hsl(5deg, 50%, 81%);
$color-c100: hsl(5deg, 50%, 91%);
$color-c50: hsl(5deg, 50%, 95%);
$color-c0: #fff;

// Success
$color-g1000: hsl(148deg, 40%, 15%);
$color-g900: hsl(148deg, 40%, 23%);
$color-g800: hsl(148deg, 40%, 30%);
$color-g700: hsl(148deg, 40%, 36%);
$color-g600: hsl(148deg, 40%, 44%);
$color-g500: hsl(148deg, 40%, 52%);
$color-g400: hsl(148deg, 40%, 62%);
$color-g300: hsl(148deg, 40%, 71%);
$color-g200: hsl(148deg, 40%, 81%);
$color-g100: hsl(148deg, 40%, 91%);
$color-g50: hsl(148deg, 30%, 95%);

// Warning
$color-w1000: hsl(35deg, 90%, 15%);
$color-w900: hsl(35deg, 90%, 23%);
$color-w800: hsl(36deg, 90%, 30%);
$color-w700: hsl(37deg, 90%, 36%);
$color-w600: hsl(38deg, 90%, 44%);
$color-w500: hsl(39deg, 90%, 52%);
$color-w400: hsl(41deg, 90%, 62%);
$color-w300: hsl(43deg, 90%, 71%);
$color-w200: hsl(45deg, 92%, 81%);
$color-w100: hsl(46deg, 94%, 91%);
$color-w50: hsl(47deg, 88%, 95%);

// Green-saturated
$color-gs900: #00474c;
$color-gs800: #016468;
$color-gs700: #0a8083;
$color-gs600: #37a1a3;
$color-gs500: #61bfbf;
$color-gs400: #86d5d5;
$color-gs300: #a7e2e2;
$color-gs200: #ccefef;
$color-gs100: #eafafa;

// Blues
$color-b900: #0d47a1;
$color-b800: #1565c0;
$color-b700: #1976d2;
$color-b600: #1e88e5;
$color-b500: #2196f3;
$color-b400: #42a5f5;
$color-b300: #64b5f6;
$color-b200: #90caf9;
$color-b100: #bbdefb;
$color-b50: #e3f2fd;

// colors
$rme-black: $color-n900;
$rme-almostBlack: $color-n800;
$rme-lightBlack: $color-n600;
$rme-white: #fff;
$rme-white10: rgba(255, 255, 255, 0.1);
// $rme-black10: rgba(0, 0, 0, 0.1);
$rme-primary: $color-p700;
$rme-greyLight: $color-n20;
$rme-grey: $color-n30;
$rme-greyMid: $color-n40;

// base
$rme-fontWeight: 400;
$rme-zIndex: 100;
$rme-link: $rme-primary;
$rme-placeholder: #b1becc;
$rme-textSecondary: #4e5c6e;
$rme-textLight: $rme-white;
$rme-textHighlight: #ffdb80;
$rme-textHighlightForeground: $rme-black;
$rme-selected: $rme-primary;
$rme-codeComment: #6a737d;
$rme-codePunctuation: #5e6687;
$rme-codeNumber: #d73a49;
$rme-codeProperty: #c08b30;
$rme-codeTag: #3d8fd1;
$rme-codeString: #032f62;
$rme-codeSelector: #6679cc;
$rme-codeAttr: #c76b29;
$rme-codeEntity: #22a2c9;
$rme-codeKeyword: #d73a49;
$rme-codeFunction: #6f42c1;
$rme-codeStatement: #22a2c9;
$rme-codePlaceholder: #3d8fd1;
$rme-codeInserted: #202746;
$rme-codeImportant: #c94922;

$rme-blockToolbarBackground: $rme-white;
$rme-blockToolbarTrigger: $rme-greyMid;
$rme-blockToolbarTriggerIcon: $rme-white;
$rme-blockToolbarItem: $rme-almostBlack;

// Not sure what is up this blockToolbarIcon ... it was set to undefined in the original code.
// making it almostBlack for now
$rme-blockToolbarIcon: $rme-almostBlack;

$rme-blockToolbarIconSelected: $rme-black;
$rme-blockToolbarText: $rme-almostBlack;
$rme-blockToolbarTextSelected: $rme-black;
$rme-blockToolbarSelectedBackground: $rme-greyMid;
$rme-blockToolbarHoverBackground: $rme-greyLight;
$rme-blockToolbarDivider: $rme-greyMid;

$rme-noticeInfoBackground: $color-b100;
$rme-noticeInfoText: $rme-almostBlack;
$rme-noticeTipBackground: $color-g200;
$rme-noticeTipText: $rme-almostBlack;
$rme-noticeWarningBackground: $color-w200;
$rme-noticeWarningText: $rme-almostBlack;

// light-specific theme
$rme-background: $rme-white;
$rme-text: $rme-almostBlack;
$rme-code: $rme-lightBlack;
$rme-cursor: $rme-black;
$rme-divider: $rme-greyMid;

$rme-toolbarBackground: $rme-almostBlack;
$rme-toolbarHoverBackground: $rme-black;
$rme-toolbarInput: $rme-white10;
$rme-toolbarItem: $rme-white;

$rme-tableDivider: $rme-greyMid;
$rme-tableSelected: $rme-primary;
$rme-tableSelectedBackground: $color-n20;
$rme-tableHeaderBackground: $color-n20;

$rme-quote: $color-n40;
$rme-codeBackground: $color-n20;
$rme-codeBorder: $rme-grey;
$rme-horizontalRule: $rme-greyMid;
$rme-imageErrorBackground: $rme-greyLight;

$rme-scrollbarBackground: $rme-greyLight;
$rme-scrollbarThumb: $rme-greyMid;
